.wrapper {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 25px;
}

.navbar__name {
  background-image: url('./static/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20px;
  width: 100px;
  height: 60px;

}

.navbar__balance {
  margin-left: auto;
  margin-right: 20px;
  padding: 10px 20px;
}

.navbar__deposit-button {
  background-color: #259FF4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
}